# this is the workflow to build and push the docker image to Docker Hub using credentials and getting it ready for ArgoCD to deploy
name: Docker Image CI # just a name

on:
  push:
    branches: ["main"] # triggers the workflow then a you commit to main branch

jobs:
  build:
    runs-on: ubuntu-latest #version of ubuntu on the VM that is used to run the workflow - github provides this

    steps:
    - uses: actions/checkout@v4 # checks out the repository code into the VM so Docker can build the image using my source files - github provides this

    - name: Log in to Docker Hub
      uses: docker/login-action@v3  # you can choose a different version of runner in the VM that github provides
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/eks_wordpress:${{ github.sha }}

# CHECKOUT GIT OPS REPOO / update application.yaml from ArgoCD repo - it needs the github.sha
    - name: ArgoCD gitops repo update # get github.sha from eks_wordpress repo
      uses: actions/checkout@v4
      with:
        repository: cezarbajenaru/ekscourse_gitops_platform
        token: ${{ secrets.GITOPS_PAT }}
        path: ekscourse_gitops_platform

    - name: Update argo/applications/apps.yaml
      run: |
        cd ekscourse_gitops_platform
        sed -i "s/IMAGE_TAG_PLACEHOLDER/${{ github.sha }}/" argo/applications/apps.yaml
        git config user.name "GitHub Actions Bot" # this is the name of the user that will be used to commit the changes to the GitOps repo
        git config user.email "actions@github.com" # this is the email of the user that will be used to commit the changes to the GitOps repo
        git add argo/applications/apps.yaml
        git commit -m "Update argo/applications/apps.yaml to ${{ github.sha }}"
        git push origin main